{% extends 'frontend/index.html' %}

{% block content %}

<!-- slider -->
      <div class="page-title page-title-2">
        <!-- <img src="img/placeholder/title-bg.png" alt=""> -->
        <div class="overlay"></div>
        <h1 class="t-huge">CONTACT</h1>

      </div>
      <!-- slider-ends  -->
      <!-- main-content starts -->
      <div class="main-content">
        <div class="row">
          <div class="large-8 large-centered columns">
            <div class="post text-center">
              <h1 class="post-title">You can find us here</h1>
              <p>
                Whenever you feel like you need to boost up your site or is starting up a different one, we surely will be able to find the fix for your needs. Again, you specify your needs to us, and we simplify. You can reach us through our social media apps or your can request a quote from us for all your website, traffic, graphics and database needs. Drop us a message or simply fill out the blanks below for your specifics. WE are more than happy and willing to assist every need and inquiries you may have for us. Dont hesitate to communicate with us. We will be waiting!.</p>
             <div class="vcard vcard-secondary copy large-6 end">
                <p class="street-address">3/F UP Cebu TBI, Lahug Cebu City</p>
                <p class="tel">Phone: <span>(032) 236 8272</span></p>
                <p class="mobile">Mobile: <span>0925 564 8786</span></p>
                <a href="mailto:" class="email">Email: <span>info.clearfix@gmail.com</span></a>
            </div>
            </div>
            <form>
              <div class="row">
                <div class="large-6 columns">
                    <input type="text" placeholder="Your Name" />
                </div>
                <div class="large-6 columns">
                    <input type="text" placeholder="Your Email" />
                </div>
                <div class="large-6 columns">
                    <input type="text" placeholder="Subject" />
                </div>
                <div class="large-6 columns">
                    <input type="text" placeholder="Phone no" />
                </div>
                <div class="large-12 columns">
                    <textarea placeholder="Your Name"  rows="10"/></textarea>
                </div>
                

              </div>
              <input type="submit" class="button secondary big expand" value="SEND"/>              
           </form>              
          </div>

        
        </div>
        <div class="map l-flex-embed l-flex-embed--custom">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2602.681873496874!2d-123.11136959999997!3d49.282424999999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5486717911be1033%3A0x784897956f2ec971!2s319+W+Pender+St!5e0!3m2!1sen!2sph!4v1395921748904" width="600" height="450" frameborder="0" style="border:0"></iframe>
        </div>

      </div>
    <!-- main-content ends -->

{% endblock %}