{% extends 'frontend/index.html' %}

{% block content %}
<!-- slider -->
        <div class="flicker-slider-main" data-block-text="false">
          <ul>
            <li data-background="img/placeholder/slider1.png">
              <div class="flick-text-cont layout right-triangle small-12 large-4 skin-primary">
                <h1 class="layout-title">WE ARE CLEARFIX</h1>
                <div class="layout-text">
                  <p>We do more than just fixing stuff. You have the freedom to customize and or simplify your ideas, thoughts and what is essential to your company and your target market. You specify, we simplify.
                  </p>
                </div>
                <a href="/about" class="button warning">READ MORE</a>  
              </div>
            </li>
            <li data-background="img/placeholder/slider3.png">
              <div class="flick-text-cont layout right-triangle small-12 large-4 skin-primary">
                <h1 class="layout-title">WE DESIGN</h1>
                <div class="layout-text">
                  <p>Webpages, galleries, widgets, themes and everything under the sun.
                  </p>
                </div>
                <a href="/about" class="button warning">READ MORE</a>  
              </div>
            </li> 
            <li data-background="img/placeholder/slide2.png">
              <div class="flick-text-cont layout right-triangle small-12 large-4 skin-primary">
                <h1 class="layout-title">WE BUILD</h1>
                <div class="layout-text">
                  <p>Databases, platforms, web apps and tools that make your apps more user friendly making you, do most out of it and enjoying life as it should be.
                  </p>
                </div>
                <a href="/about" class="button warning">READ MORE</a>  
              </div>
            </li>       
          </ul> 
        </div>
        <!-- slider-ends  -->
        <!-- main-content starts -->
        <div class="main-content">
          <div class="group">
            <div class="group-item layout">
              <div class="layout-left skin-info right-triangle small-12 large-4 columns">
                <h1 class="layout-title">SERVICES</h1>
                <div class=" layout-text">
                  <p>
                    Be in touch with apps, services and tools that move your business endevors to different heights. Partner with us in making your business grow and reap the rewards for your success.
                  </p>
                </div>
                <a href="/service" class="button warning">READ MORE</a>            
              </div>
              <div class="layout-right skin-white small-12 large-8 columns">
                <div class="layout layout-blocks layout-blocks-1">
                  <div class="layout-item large-4 columns">
                      <div class="layout-img">
                        <img src="img/placeholder/web-dev.png" alt="">
                      </div>
                      <h4 class="layout-tile">Web Applications</h4>
                      <div class=" layout-text">
                        <p>
                          That are hassle free, easy to use, practically suiting everything needed for everyday grind.
                        </p>
                      </div>
                  </div>
                  <div class="layout-item large-4 columns">
                    <div class="layout-img">
                      <img src="img/placeholder/app.png" alt="">
                    </div>
                    <h4 class="layout-tile">Apps Development</h4>
                    <div class=" layout-text">
                      <p>
                        That provide the hue, substance and meaning of each applications that adds life and balance.
                      </p>
                    </div>
                  </div>
                  <div class="layout-item large-4 columns">
                    <div class="layout-img">
                      <img src="img/placeholder/identity.png" alt="">
                    </div>
                    <h4 class="layout-tile">Branding & Identity</h4>
                    <div class=" layout-text">
                      <p>
                        Defines who and what you do. It creates a benchmark of how far you can attain your ideals.
                      </p>
                    </div>
                  </div>                        
               </div>
             </div>        
          </div>   

      <!-- second area -->

          <div class="group-item layout">
            <div class="layout-left layout-addons skin-dark right-triangle small-12 large-4 columns">
              <h1 class="layout-title">WORKS</h1>
              <div class=" layout-text">
                <p>
                  In these walls you find the fruits of our hard work, brilliant ideas and team work. You can bask in the works of our finest team dedicated to provide the best of what we do and we are passionate of.
                </p>
              </div>
              <a href="/portfolio" class="button warning">SHOW MORE</a>            
            </div>
            <div class="flicker-slider-secondary" data-block-text="false">
              <ul>
                <li>
                  <div class="layout-right layout-full skin-secondary small-12 large-8 columns">
                    <div class="flick-text-cont layout-text-cont">
                      <h1 class="layout-title">— P&Co. Clothing —</h1>
                      <div class="layout-text">
                        <p>
                          Every individual feels the need to have the very basic clothing without compromise comfort and functionality at an affordable price.
                          P&Co. clothing provides the best choices the best choices that wont hurt your budget.
                        </p>
                      </div>
                      <a href="/pandco" class="button warning">READ MORE</a>              
                    </div>
                  </div>  
                  <div class="flicks-inner-content skin-info">
                    <h3 class="flicks-title show-for-large-up"><a href="#">— P&Co. Clothing —</a></h3>
                    <div class="layout-blocks">
                      <div class="layout-item small-12 large-4 columns text-center">
                        <div class="layout-img-wrap">
                          <div class="layout-img">
                            <img src="img/placeholder/PandCo-desktop.png" alt="">
                          </div>
                        </div>    
                        <h3 class="layout-tile">Desktop</h3>
                        <div class=" layout-text">
                          <p>
                            We made sure that your needs are addressed real time. Be it at home or in your own office, you can have the comfort of your desktop to check out CLEARFIX’s webpage.
                          </p>
                        </div>                  
                      </div>
                      <div class="layout-item small-12 large-4 columns text-center">
                        <div class="layout-img-wrap">
                          <div class="layout-img">
                            <img src="img/placeholder/PandCo-tablet.png" alt="">
                          </div>
                        </div>    
                        <h3 class="layout-tile">Tablet</h3>
                        <div class="layout-text">
                          <p>
                            Whether you are at a business meeting you can still enjoy CLEARFIX’s webpage in a cool, crisp, no nonsense layout in your tablet and get the best solution.
                          </p>
                        </div>                  
                      </div>
                      <div class="layout-item small-12 large-4 columns text-center">
                        <div class="layout-img-wrap">
                          <div class="layout-img">
                            <img src="img/placeholder/PandCo-mobile.png" alt="">
                          </div>
                        </div>    
                        <h3 class="layout-tile">Mobile</h3>
                        <div class=" layout-text">
                          <p>
                            We added optional mobile friendly styles for key aspects of the framework. We've rewritten the project to be mobile friendly from the start.
                          </p>
                        </div>                  
                      </div>                      
                    </div>            
                  </div>       
                </li>
                <li>
                  <div class="layout-right layout-full skin-secondary small-12 large-8 columns">
                    <div class="flick-text-cont layout-text-cont">
                      <h1 class="layout-title">— DEPPO Sol. —</h1>
                      <div class="layout-text">
                        <p>
                          Ideal for commercial establishments that builds their own mailing service and allow the tenants to receive their package conveniently.This also improves the security of the premises by only allowing couriers to deposit the packages in a safe location, where the locker is in place. We also build customized storage solutions depending on the customer needs like electronic school lockers and baggage deposit counter.
                        </p>
                      </div>
                      <a href="/deppo" class="button warning">READ MORE</a>
                    </div>
                  </div>  
                  <div class="flicks-inner-content skin-info">
                    <h3 class="flicks-title show-for-large-up"><a href="#">— DEPPO Sol. —</a></h3>
                    <div class="layout-blocks">
                      <div class="layout-item small-12 large-4 columns text-center">
                        <div class="layout-img-wrap">
                          <div class="layout-img">
                            <img src="img/placeholder/deppo-desktop.png" alt="">
                          </div>
                        </div>    
                        <h3 class="layout-tile">Desktop</h3>
                        <div class=" layout-text">
                          <p>
                            We made sure that your needs are addressed real time. Be it at home or in your own office, you can have the comfort of your desktop to check out CLEARFIX’s webpage.
                          </p>
                        </div>                  
                      </div>
                      <div class="layout-item small-12 large-4 columns text-center">
                        <div class="layout-img-wrap">
                          <div class="layout-img">
                            <img src="img/placeholder/deppo-tablet.png" alt="">
                          </div>
                        </div>    
                        <h3 class="layout-tile">Tablet</h3>
                        <div class="layout-text">
                          <p>
                            Whether you are at a business meeting you can still enjoy CLEARFIX’s webpage in a cool, crisp, no nonsense layout in your tablet and get the best solution.
                          </p>
                        </div>                  
                      </div>
                      <div class="layout-item small-12 large-4 columns text-center">
                        <div class="layout-img-wrap">
                          <div class="layout-img">
                            <img src="img/placeholder/deppo-mobile.png" alt="">
                          </div>
                        </div>    
                        <h3 class="layout-tile">Mobile</h3>
                        <div class=" layout-text">
                          <p>
                            We added optional mobile friendly styles for key aspects of the framework. We've rewritten the project to be mobile friendly from the start.
                          </p>
                        </div>                  
                      </div>
                    </div>            
                  </div>       
                </li>       
             </ul>
          </div>     
        </div>
       </div>
      </div>
      <!-- main-content ends -->
{% endblock %}
