{% extends 'frontend/index.html' %}

{% block content %}
<p>{{ error }}</p>

<div class="row">
  <div class="span12">
    <form class="form-center" action="/login" method="POST">
      <h1>Login Page</h1>
      <input id="input-email" type="email" name="email" class="input-block-level" placeholder="Email address"{% if email %} value="{{ email }}"{% endif %}>
      <input id="input-password" type="password" name="password" class="input-block-level" placeholder="Password">
      <div class="pull-left">No account? <a href="/register">Register</a>.</div><button class="btn btn-large btn-primary pull-right" type="submit">Login</button>
      <div class="clear"></div>

      <div class="pull-left"><a href="/forgot-pass">Forgot Password?</a>.</div>
      <div class="clear"></div>

      
      <div class="clear"></div>
    </form>
  </div>
</div>

{% endblock %}