{% extends 'frontend/index.html' %}

{% block content %}

<!-- slider -->
      <div class="page-title page-title-3">
        <!-- <img src="img/placeholder/title-bg.png" alt=""> -->
        <div class="overlay"></div>
        <h1 class="t-huge">P&Co. Clothing  </h1>

      </div>
      <!-- slider-ends  -->
      <!-- main-content starts -->
      <div class="main-content">
        <div class="row">
          <div class="large-8 large-centered columns">
            <div class="post-tertiary rmove-style text-center copy-huge">
                <p>
                  In these walls you find the fruits of our hard work, brilliant ideas and team work. You can bask in the works of our finest team dedicated to provide the best of what we do and we are passionate of. 

                  Passion brings out life and different hues on each situation we are in. Here at CLEARFIX, we are a firm attestation of the how PASSION can FUEL results. With Motivation it can move mountains and bring positivity. So sit back, bask in the comforts of what we are offering. 
                </p>
                <p>
                 Every individual feels the need to have the very basic clothing without compromise comfort and functionality at an affordable price. P&Co. clothing provides the best choices the best choices that wont hurt your budget.
              </p>
               <a href="#" class="button secondary big">VISIT SITE</a>
            </div>
          </div>
        </div>
        <div class="large-12 large-centered text-center">
          <div class="large-12 columns">  
            <div class="well">
              <img src="img/placeholder/big-pandco-web.png" alt="">
            </div>
          </div>  
          <div class="large-8 columns text-center">
            <div class="well">
              <img src="img/placeholder/big-pandco-tab.png" alt="">
            </div>
          </div>                        
          <div class="large-4 columns text-center">
            <div class="well">
             <img src="img/placeholder/big-pandco-mob.png" alt="">
            </div>
          </div>    
        </div>
       <!-- big img -->
        <div class="full">
          <img src="img/placeholder/big-pandco-pic.png" alt="">
        </div>

      </div>
    <!-- main-content ends -->

{% endblock %}