{% extends 'frontend/index-admin.html' %}

{% block content %}

<h2>EDIT ITEM</h2>

<table class="table table-hover">
  <thead> 
    <tr> 
        <th></th> 
        <th>Title</th> 
        <th>Description</th> 
        <th>Created On</th>
        <th>Actions</th> 
        </tr> 
  </thead>
  <tbody>
        {%for portfolio in portfolios%}
        <tr>
            <td><input type="checkbox"></td> 
            <td>{{ portfolio.title }}</td> 
            <td>{{ portfolio.description }}</td> 
            <td>{{ portfolio.created }}</td>
            <td><a href=""><input type="image" src="img/icn_edit.png" title="Edit"></a> <a href=""><input type="image" src="img/icn_trash.png" title="Trash"></td></a>
        </tr> 
        {% endfor %}
  </tbody>
</table>

{% endblock %}