{% extends 'frontend/index.html' %}

{% block content %}

<!-- slider -->
      <div class="page-title page-title-1">
        <!-- <img src="img/placeholder/title-bg.png" alt=""> -->
        <div class="overlay"></div>
        <h1 class="t-huge">SERVICES</h1>

      </div>
      <!-- slider-ends  -->
      <!-- main-content starts -->
      <div class="main-content">
        <div class="row">
          <div class="post">
            <div class="post-img large-5 columns">
              <img src="img/placeholder/services.png" alt="">
            </div>
            <div class="large-5 large-pull-1 columns">
              <h1 class="post-title">Web and Mobile Development</h1>
              <p>
                Be in touch with apps, services and tools that move your business endevors to different heights. Partner with us in making your business grow and reap the rewards for your success.
              </p>
              <p>
                Whatever life brings you, CLEARFIX will provide you the much needed apps that will fuel you passion and motivation to succeed. We provide the solutions to the questions and needs bugging you everyday. When at the crossroads, there will surely be one application/tool/database/platform that can and will provide everything without the hassle of constant revision and change. 
              </p>
              <a href="/request" class="button secondary"><i class="fa fa-envelope"></i>request a quote</a>
            </div>
          </div>

          <dl class="tabs" data-tab>
            <dd class="active large-6 columns">
                <a href="#panel2-1" class="tabs-toggle">
                  Web Design & Development
                </a>
            </dd>
            <dd class="large-6 columns">
                <a href="#panel2-2" class="tabs-toggle">
                  Mobile Development
                </a>
            </dd>
          </dl>
          <div class="tabs-content">
            <div class="content layout post post-spread active" id="panel2-1">
              <div class="layout-item large-6 columns">
                <div class="post-img large-3 columns">
                  <img src="img/placeholder/cms.png" alt="">
                </div>
                <div class="large-9 columns">
                  <h4 class="post-title">Content Management System</h4>
                  <p>
                    In today's fast paced world, each individual and business needs someone to filter, preserve and enhance. Precious content that serves as the lifeblood of each business. Here, we provide more than quality preservation just as you want it without you having to worry about it each time.
                  </p>
                </div>
               </div> 
              <div class="layout-item large-6 columns">
                <div class="post-img large-3 columns">
                  <img src="img/placeholder/e-com.png" alt="">
                </div>
                <div class="large-9 columns">
                  <h4 class="post-title">E-Commerce</h4>
                  <p>
                    Building platforms and databases that power up your business make up an important component in our whole existence. We work to bridge the gap between companies and consumers for fair trade of goods and services. Giving and taking and compromise helps make the business expand.
                  </p>
                </div>
               </div>  
              <div class="layout-item large-6 columns">
                <div class="post-img large-3 columns">
                  <img src="img/placeholder/web-dev.png" alt="">
                </div>
                <div class="large-9 columns">
                  <h4 class="post-title">Web Applications</h4>
                  <p>
                    We design and customize web applications, themes and backgrounds suited for your business, however big or small, that gives substance and visual "Feel" of what you are offering. Thes tailor fitted apps provide our customers their own sense of pride in strict competition for the industry's own consumer market.
                  </p>
                </div>
               </div> 
              <div class="layout-item large-6 columns">
                <div class="post-img large-3 columns">
                  <img src="img/placeholder/identity.png" alt="">
                </div>
                <div class="large-9 columns">
                  <h4 class="post-title">Branding & Identity</h4>
                  <p>
                    Through our tailor fit apps and developments, we do not only provide the benchmark but we also make our own niche in the digital world. Through our best roster of talents, we are able to provide the exact solutions to your current issues and will provide maintenance for all our work to maintain continuity and finesse. 
                  </p>
                </div>
               </div>                                               
            </div>
            <div class="content layout post post-spread" id="panel2-2">
              <div class="layout-item large-6 columns">
                <div class="post-img large-3 columns">
                  <img src="img/placeholder/app.png" alt="">
                </div>
                <div class="large-9 columns">
                  <h4 class="post-title">Application Development</h4>
                  <p>
                    At the background, we design concepts and databases to get all your apps working smoothly. We synergistically placed everything in place to have your mobile time a fun and enriching one. 
                  </p>
                </div>
               </div> 
              <div class="layout-item large-6 columns">
                <div class="post-img large-3 columns">
                  <img src="img/placeholder/games.png" alt="">
                </div>
                <div class="large-9 columns">
                  <h4 class="post-title">Games Development</h4>
                  <p>
                    We all know that at some point, we need to lose ourselves in the game of life, inspiring us to create games that will not only tickle your curiosity but will work your neurons as well.
                  </p>
                </div>
               </div> 
              
            </div>
          </div>

        </div>
      </div>
    <!-- main-content ends -->

{% endblock %}