@font-face {
  font-family: 'Optima-reg';
  src: url("../../fonts/optima_medium.otf");
  src: url("../../fonts/optima_medium.otf") format("opentype"), url("../../fonts/optima_medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monst-bold';
  src: url("../../fonts/montserrat-bold-webfont.eot");
  src: url("../../fonts/montserrat-bold-webfont.eot") format("embedded-opentype"), url("../../fonts/montserrat-bold-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monst-regular';
  src: url("../../fonts/montserrat-regular-webfont.eot");
  src: url("../../fonts/montserrat-regular-webfontt.eot") format("embedded-opentype"), url("../../fonts/montserrat-regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 66, ../../scss/modules/_foundation-overiddes.scss */
h1 {
  font-size: 1.5625rem;
}

/* line 67, ../../scss/modules/_foundation-overiddes.scss */
h2 {
  font-size: 1.25rem;
}

/* line 68, ../../scss/modules/_foundation-overiddes.scss */
h3 {
  font-size: 1.125rem;
}

/* line 69, ../../scss/modules/_foundation-overiddes.scss */
h4 {
  font-size: 1rem;
}

/* line 70, ../../scss/modules/_foundation-overiddes.scss */
h5 {
  font-size: 1rem;
}

/* line 71, ../../scss/modules/_foundation-overiddes.scss */
h6 {
  font-size: 0.9375rem;
}

/* line 72, ../../scss/modules/_foundation-overiddes.scss */
.t-huge {
  font-size: 3.75rem;
}

/* line 73, ../../scss/modules/_foundation-overiddes.scss */
.t-normal {
  font-size: 1rem;
}

/* line 75, ../../scss/modules/_foundation-overiddes.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Monst-bold";
  margin-top: 0.1rem;
}

/* line 79, ../../scss/modules/_foundation-overiddes.scss */
p, body {
  font-family: "Optima-reg";
  font-size: 15px;
  line-height: 1.9;
  color: #464646;
}

/* line 86, ../../scss/modules/_foundation-overiddes.scss */
.row {
  max-width: 96.5rem;
}

/* line 90, ../../scss/modules/_foundation-overiddes.scss */
.vcard {
  margin: 0;
  padding: 0;
  border: none;
}
/* line 94, ../../scss/modules/_foundation-overiddes.scss */
.vcard a {
  color: #fff;
}

/* line 100, ../../scss/modules/_foundation-overiddes.scss */
.vcard-secondary a {
  color: #222222;
}

/* line 119, ../../scss/modules/_foundation-overiddes.scss */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  border: 3px solid #898989;
  background: none;
  padding: 23px;
}

/* line 131, ../../scss/modules/_foundation-overiddes.scss */
.info {
  background: #e1e1e1;
}

/* line 134, ../../scss/modules/_foundation-overiddes.scss */
.primary {
  background: #009245;
}

/* line 137, ../../scss/modules/_foundation-overiddes.scss */
.secondary {
  background: #368bc1 !important;
}

/* line 141, ../../scss/modules/_foundation-overiddes.scss */
.warning {
  background: white;
}

/* line 147, ../../scss/modules/_foundation-overiddes.scss */
.button.secondary {
  color: #fff;
}

/* line 150, ../../scss/modules/_foundation-overiddes.scss */
.button, .top-bar .button {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  font-family: 'Monst-regular';
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #303030;
}
/* line 159, ../../scss/modules/_foundation-overiddes.scss */
.button [class^="fa"] {
  font-size: 13px;
  margin-right: 12px;
}

/* line 165, ../../scss/modules/_foundation-overiddes.scss */
.top-bar {
  height: auto;
}
/* line 168, ../../scss/modules/_foundation-overiddes.scss */
.top-bar .title-area {
  padding: 15px 0;
  margin-right: 20px;
  width: 200px;
}

/* line 179, ../../scss/modules/_foundation-overiddes.scss */
.title-area-mini {
  float: right;
  list-style: none;
  width: 66px;
  margin-bottom: 0;
}

/* line 187, ../../scss/modules/_foundation-overiddes.scss */
.top-bar .button, .tab-bar .button {
  top: 0;
  float: right;
  margin-top: -7px;
  margin-left: 20px;
}

/* line 194, ../../scss/modules/_foundation-overiddes.scss */
.top-bar-section {
  padding-top: 29px;
}
/* line 198, ../../scss/modules/_foundation-overiddes.scss */
.top-bar-section ul li > a {
  font-family: 'Monst-regular';
  font-size: 18px;
  color: #b5b3b3;
}
/* line 207, ../../scss/modules/_foundation-overiddes.scss */
.top-bar-section .button {
  font-size: 13px;
  text-transform: uppercase;
  color: #fefefe;
}

/* line 214, ../../scss/modules/_foundation-overiddes.scss */
.tab-bar {
  height: auto;
  overflow: hidden;
  padding: 10px 0;
}

/* line 220, ../../scss/modules/_foundation-overiddes.scss */
.tab-bar.show-for-small-up {
  *zoom: 1;
  padding: 15px;
  height: auto;
}
/* line 106, ../../scss/modules/_functions.scss */
.tab-bar.show-for-small-up:before, .tab-bar.show-for-small-up:after {
  content: " ";
  display: table;
}
/* line 107, ../../scss/modules/_functions.scss */
.tab-bar.show-for-small-up:after {
  clear: both;
}
/* line 224, ../../scss/modules/_foundation-overiddes.scss */
.tab-bar.show-for-small-up .top-bar-section {
  padding-top: 20px;
  padding-bottom: 0;
}
/* line 227, ../../scss/modules/_foundation-overiddes.scss */
.tab-bar.show-for-small-up .top-bar-section .button {
  margin-bottom: 4px;
}

/* line 234, ../../scss/modules/_foundation-overiddes.scss */
.side-nav li a:not(.button) {
  font-family: 'Optima-reg';
  color: #fff;
}

/* line 238, ../../scss/modules/_foundation-overiddes.scss */
.left-off-canvas-toggle {
  float: left;
  margin-top: 16px;
  margin-left: 12px;
  color: #fff;
}

@media only screen and (min-width: 40.063em) {
  /* line 257, ../../scss/modules/_foundation-overiddes.scss */
  h1 {
    font-size: 2.1875rem;
  }

  /* line 258, ../../scss/modules/_foundation-overiddes.scss */
  h2 {
    font-size: 2.3125rem;
  }

  /* line 259, ../../scss/modules/_foundation-overiddes.scss */
  h3 {
    font-size: 1.5625rem;
  }

  /* line 260, ../../scss/modules/_foundation-overiddes.scss */
  h4 {
    font-size: 1.25rem;
  }

  /* line 261, ../../scss/modules/_foundation-overiddes.scss */
  h5 {
    font-size: 1.125rem;
  }

  /* line 262, ../../scss/modules/_foundation-overiddes.scss */
  h6 {
    font-size: 1rem;
  }

  /* line 264, ../../scss/modules/_foundation-overiddes.scss */
  .title-area-mini {
    float: left;
  }

  /* line 267, ../../scss/modules/_foundation-overiddes.scss */
  .t-huge {
    font-size: 70px;
  }
}
/* line 2, ../../scss/modules/_misc.scss */
.pad-25, .top-bar {
  padding-left: 25px;
  padding-right: 25px;
}

/* line 7, ../../scss/modules/_misc.scss */
.pad-l-25 {
  padding-left: 25px;
}

/* line 10, ../../scss/modules/_misc.scss */
.pad-r-25 {
  padding-right: 25px;
}

/* line 13, ../../scss/modules/_misc.scss */
.overlay {
  transition: all 0.5s ease;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  top: 0;
  left: 0;
}

/* line 25, ../../scss/modules/_misc.scss */
.right-triangle:after {
  display: none;
  position: absolute;
  top: 180px;
  right: 0;
  content: '.';
  z-index: 9999;
  margin-right: -19px;
  width: 0;
  height: 0;
  border-left: 20px solid #009245;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  text-indent: -99999px;
}

/* line 41, ../../scss/modules/_misc.scss */
.text-uppercase {
  text-transform: uppercase;
}

/* line 45, ../../scss/modules/_misc.scss */
.collapse-min > .column, .collapse-min > .columns {
  padding-left: 0;
  padding-right: 12px;
}

/* line 50, ../../scss/modules/_misc.scss */
.segmented {
  display: table;
  width: 100%;
}
/* line 53, ../../scss/modules/_misc.scss */
.segmented .segmented-item {
  display: table-cell;
  vertical-align: top;
  box-sizing: border-box;
}
/* line 58, ../../scss/modules/_misc.scss */
.segmented .segmented-item-addon {
  width: 1%;
  padding-left: 5px;
}

/* line 65, ../../scss/modules/_misc.scss */
.segmented-secondary {
  display: block;
}
/* line 67, ../../scss/modules/_misc.scss */
.segmented-secondary .segmented-item {
  display: block;
}
/* line 70, ../../scss/modules/_misc.scss */
.segmented-secondary .segmented-item-addon {
  display: table-cell;
}

/* line 75, ../../scss/modules/_misc.scss */
.inline-list-custom {
  list-style: none;
  margin: 0;
}
/* line 78, ../../scss/modules/_misc.scss */
.inline-list-custom li {
  float: none;
  padding-right: 0;
}

/* line 86, ../../scss/modules/_misc.scss */
.l-flex-embed {
  position: relative;
  clear: both;
  height: 0;
  padding: 0;
  margin-top: 80px;
}
/* line 96, ../../scss/modules/_misc.scss */
.l-flex-embed iframe,
.l-flex-embed embed,
.l-flex-embed object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 111, ../../scss/modules/_misc.scss */
.l-flex-embed--16by9 {
  padding-bottom: 56.25%;
}

/* line 116, ../../scss/modules/_misc.scss */
.l-flex-embed--4by3 {
  padding-bottom: 75%;
}

/* line 119, ../../scss/modules/_misc.scss */
.l-flex-embed--custom {
  padding-bottom: 76.25%;
}

@media only screen and (min-width: 40.063em) {
  /* line 125, ../../scss/modules/_misc.scss */
  .segmented-secondary {
    display: table;
  }
  /* line 127, ../../scss/modules/_misc.scss */
  .segmented-secondary .segmented-item {
    display: table-cell;
  }

  /* line 132, ../../scss/modules/_misc.scss */
  .inline-list-custom {
    list-style: none;
    margin: 0;
  }
  /* line 135, ../../scss/modules/_misc.scss */
  .inline-list-custom li {
    float: left;
    padding-right: 17px;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 143, ../../scss/modules/_misc.scss */
  .l-flex-embed--custom {
    padding-bottom: 30.25%;
  }
}
/* copy text. Apply on containers such as an article or a comment body
============================================================================= */
/* line 6, ../../scss/modules/_copy.scss */
.copy p {
  margin: 0 0 0.1rem 0;
}
/* line 9, ../../scss/modules/_copy.scss */
.copy p:last-child {
  margin-bottom: 0.5em;
}
/* line 14, ../../scss/modules/_copy.scss */
.copy h1, .copy h2, .copy h3, .copy h4, .copy h5, .copy h6 {
  margin: 1.5rem 0 1rem 0;
  font-weight: bold;
  line-height: 1.4;
  color: #474139;
}
/* line 21, ../../scss/modules/_copy.scss */
.copy h5, .copy h6 {
  text-transform: uppercase;
}
/* line 26, ../../scss/modules/_copy.scss */
.copy ul {
  list-style-type: disc;
}
/* line 30, ../../scss/modules/_copy.scss */
.copy ul li, .copy ol li {
  padding: 3px 0;
}
/* line 34, ../../scss/modules/_copy.scss */
.copy ol {
  list-style-type: decimal;
}
/* line 38, ../../scss/modules/_copy.scss */
.copy ul, .copy ol, .copy dl {
  margin: 0 0 22px 30px;
}
/* line 42, ../../scss/modules/_copy.scss */
.copy ul, .copy ol {
  list-style-position: inside;
}
/* line 46, ../../scss/modules/_copy.scss */
.copy ul ul, .copy ul ol, .copy ol ul, .copy ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 52, ../../scss/modules/_copy.scss */
.copy ol ol li {
  list-style-type: lower-latin;
}
/* line 56, ../../scss/modules/_copy.scss */
.copy img {
  display: block;
}
/* line 61, ../../scss/modules/_copy.scss */
.copy ol ol li {
  list-style-type: lower-latin;
}
/* line 65, ../../scss/modules/_copy.scss */
.copy blockquote {
  display: inline-block;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: .9em .9em .9em 72px;
  border-width: 1px;
  font-style: italic;
}
/* line 74, ../../scss/modules/_copy.scss */
.copy blockquote p {
  margin: 0 0 16px 0;
}

/* line 87, ../../scss/modules/_copy.scss */
.copy-lite p {
  margin: 0 0 1rem 0;
  font-size: 10px;
  font-weight: 100;
  line-height: 1.8;
}

/* line 1, ../../scss/modules/_skin.scss */
.skin-info, .skin-sequence .group-item:nth-of-type(4n+2) .skin {
  background: #e1e1e1;
}
/* line 4, ../../scss/modules/_skin.scss */
.skin-info.right-triangle:after, .skin-sequence .group-item:nth-of-type(4n+2) .right-triangle.skin:after {
  border-left-color: #e1e1e1;
}
/* line 9, ../../scss/modules/_skin.scss */
.skin-info h1, .skin-sequence .group-item:nth-of-type(4n+2) .skin h1, .skin-info h2, .skin-sequence .group-item:nth-of-type(4n+2) .skin h2, .skin-info h3, .skin-sequence .group-item:nth-of-type(4n+2) .skin h3, .skin-info h4, .skin-sequence .group-item:nth-of-type(4n+2) .skin h4, .skin-info h5, .skin-sequence .group-item:nth-of-type(4n+2) .skin h5, .skin-info h6, .skin-sequence .group-item:nth-of-type(4n+2) .skin h6, .skin-info p, .skin-sequence .group-item:nth-of-type(4n+2) .skin p {
  color: #4e4e4e;
}

/* line 16, ../../scss/modules/_skin.scss */
.skin-primary, .skin-sequence .group-item:nth-of-type(4n+1) .skin {
  background: #009245;
}
/* line 18, ../../scss/modules/_skin.scss */
.skin-primary h1, .skin-sequence .group-item:nth-of-type(4n+1) .skin h1, .skin-primary h2, .skin-sequence .group-item:nth-of-type(4n+1) .skin h2, .skin-primary h3, .skin-sequence .group-item:nth-of-type(4n+1) .skin h3, .skin-primary h4, .skin-sequence .group-item:nth-of-type(4n+1) .skin h4, .skin-primary h5, .skin-sequence .group-item:nth-of-type(4n+1) .skin h5, .skin-primary h6, .skin-sequence .group-item:nth-of-type(4n+1) .skin h6, .skin-primary p, .skin-sequence .group-item:nth-of-type(4n+1) .skin p {
  color: #fff;
}

/* line 23, ../../scss/modules/_skin.scss */
.skin-secondary, .skin-sequence .group-item:nth-of-type(4n+4) .skin {
  background: #368bc1;
}
/* line 26, ../../scss/modules/_skin.scss */
.skin-secondary.right-triangle:after, .skin-sequence .group-item:nth-of-type(4n+4) .right-triangle.skin:after {
  border-left-color: #368bc1;
}
/* line 31, ../../scss/modules/_skin.scss */
.skin-secondary h1, .skin-sequence .group-item:nth-of-type(4n+4) .skin h1, .skin-secondary h2, .skin-sequence .group-item:nth-of-type(4n+4) .skin h2, .skin-secondary h3, .skin-sequence .group-item:nth-of-type(4n+4) .skin h3, .skin-secondary h4, .skin-sequence .group-item:nth-of-type(4n+4) .skin h4, .skin-secondary h5, .skin-sequence .group-item:nth-of-type(4n+4) .skin h5, .skin-secondary h6, .skin-sequence .group-item:nth-of-type(4n+4) .skin h6, .skin-secondary p, .skin-sequence .group-item:nth-of-type(4n+4) .skin p {
  color: #eeeeee;
}

/* line 35, ../../scss/modules/_skin.scss */
.skin-dark, .skin-sequence .group-item:nth-of-type(4n+3) .skin {
  background: #373737;
}
/* line 38, ../../scss/modules/_skin.scss */
.skin-dark.right-triangle:after, .skin-sequence .group-item:nth-of-type(4n+3) .right-triangle.skin:after {
  border-left-color: #373737;
}
/* line 43, ../../scss/modules/_skin.scss */
.skin-dark h1, .skin-sequence .group-item:nth-of-type(4n+3) .skin h1, .skin-dark h2, .skin-sequence .group-item:nth-of-type(4n+3) .skin h2, .skin-dark h3, .skin-sequence .group-item:nth-of-type(4n+3) .skin h3, .skin-dark h4, .skin-sequence .group-item:nth-of-type(4n+3) .skin h4, .skin-dark h5, .skin-sequence .group-item:nth-of-type(4n+3) .skin h5, .skin-dark h6, .skin-sequence .group-item:nth-of-type(4n+3) .skin h6, .skin-dark p, .skin-sequence .group-item:nth-of-type(4n+3) .skin p {
  color: #fff;
}

/* line 48, ../../scss/modules/_skin.scss */
.skin-white {
  background: #fff;
}
/* line 50, ../../scss/modules/_skin.scss */
.skin-white h1, .skin-white h2, .skin-white h3, .skin-white h4, .skin-white h5, .skin-white h6, .skin-white p {
  color: #4e4e4e;
}

@media only screen and (min-width: 64.063em) {
  /* line 83, ../../scss/modules/_skin.scss */
  .skin-primary.right-triangle:after, .skin-sequence .group-item:nth-of-type(4n+1) .right-triangle.skin:after, .skin-secondary.right-triangle:after, .skin-sequence .group-item:nth-of-type(4n+4) .right-triangle.skin:after, .skin-info.right-triangle:after, .skin-sequence .group-item:nth-of-type(4n+2) .right-triangle.skin:after, .skin-dark.right-triangle:after, .skin-sequence .group-item:nth-of-type(4n+3) .right-triangle.skin:after {
    display: inline-block;
  }
}
/* line 1, ../../scss/modules/_apps.scss */
.t-foot {
  clear: both;
  padding: 30px 20px 0;
  display: block;
  text-align: center;
}
/* line 8, ../../scss/modules/_apps.scss */
.t-foot .menu li {
  margin-bottom: 15px;
}
/* line 11, ../../scss/modules/_apps.scss */
.t-foot .menu a {
  color: #fefefe;
}

/* line 16, ../../scss/modules/_apps.scss */
.t-foot-logo {
  margin-top: 0;
}
/* line 18, ../../scss/modules/_apps.scss */
.t-foot-logo img {
  width: 200px;
}

/* line 23, ../../scss/modules/_apps.scss */
.page-title {
  position: relative;
  background: url("../../img/placeholder/title-bg.png") no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 29, ../../scss/modules/_apps.scss */
.page-title h1 {
  position: relative;
  padding: 90px 0 80px;
  margin: 0 0 0 0;
  text-align: center;
  color: #eeeeee;
}

/* line 38, ../../scss/modules/_apps.scss */
.page-title-1 {
  background: url("../../img/placeholder/page-title2.png") no-repeat;
  background-size: cover;
}

/* line 43, ../../scss/modules/_apps.scss */
.page-title-2 {
  background: url("../../img/placeholder/map.png") no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 40.063em) {
  /* line 54, ../../scss/modules/_apps.scss */
  .t-foot {
    text-align: left;
    padding: 30px 20px;
  }

  /* line 59, ../../scss/modules/_apps.scss */
  .page-title h1 {
    margin: 0 0 0 50px;
    text-align: left;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 67, ../../scss/modules/_apps.scss */
  .t-foot {
    padding: 50px 20px;
  }
  /* line 69, ../../scss/modules/_apps.scss */
  .t-foot .t-foot-logo {
    margin-top: 53px;
  }
}
/* line 1, ../../scss/modules/_group.scss */
.group {
  text-align: center;
}

/* line 4, ../../scss/modules/_group.scss */
.group-item {
  clear: both;
}

/* line 8, ../../scss/modules/_group.scss */
.group-option {
  *zoom: 1;
  background: #fff7f7;
  text-align: center;
  float: none;
  line-height: 0;
}
/* line 106, ../../scss/modules/_functions.scss */
.group-option:before, .group-option:after {
  content: " ";
  display: table;
}
/* line 107, ../../scss/modules/_functions.scss */
.group-option:after {
  clear: both;
}

/* line 16, ../../scss/modules/_group.scss */
.group-pagination {
  display: inline-block;
  margin: 0;
}
/* line 20, ../../scss/modules/_group.scss */
.group-pagination a {
  border: solid #CFC9C9;
  border-width: 0 0 0 1px;
  padding: 19px 24px;
  color: #706D6D;
  font-size: 18px;
}
/* line 27, ../../scss/modules/_group.scss */
.group-pagination a:hover {
  background: #009245;
  color: #fff;
}
/* line 34, ../../scss/modules/_group.scss */
.group-pagination li {
  margin: 0;
}
/* line 38, ../../scss/modules/_group.scss */
.group-pagination li:last-child a {
  border-width: 0 1px 0 1px;
}
/* line 43, ../../scss/modules/_group.scss */
.group-pagination li.active a {
  background: #009245;
  color: #fff;
}

@media only screen and (min-width: 40.063em) {
  /* line 53, ../../scss/modules/_group.scss */
  .group-pagination {
    float: right;
  }
  /* line 55, ../../scss/modules/_group.scss */
  .group-pagination a {
    padding: 19px 30px;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 64, ../../scss/modules/_group.scss */
  .group {
    text-align: left;
  }
}
/* line 1, ../../scss/modules/_flick.scss */
.flickerplate {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: #e6e6e6;
  overflow: hidden;
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate ul.flicks {
  width: 10000%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate ul.flicks li {
  float: left;
  width: 1%;
  height: 100%;
  background-position: center;
  background-size: cover;
  display: table;
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate ul.flicks li .flick-inner {
  height: 100%;
  padding: 10px;
  color: #fff;
  display: table-cell;
  vertical-align: middle;
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate ul.flicks li .flick-inner .flick-content {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate ul.flicks li .flick-title {
  padding: 0px 0px;
  font-size: 2.778em;
  line-height: 1.995em;
  text-align: center;
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate ul.flicks li .flick-sub-text {
  padding: 5px;
  font-weight: 300;
  line-height: 2.5em;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate ul.flicks li .flick-title span.flick-block-text, .flickerplate ul.flicks li .flick-sub-text span.flick-block-text {
  padding: 12px 18px;
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate .arrow-navigation {
  position: absolute;
  height: 80%;
  width: 10%;
  top: 10%;
  z-index: 100;
  overflow: hidden;
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate .arrow-navigation .arrow {
  display: block;
  height: 100%;
  width: 90%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate .arrow-navigation:hover, .flickerplate .arrow-navigation .arrow:hover {
  cursor: pointer;
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate .arrow-navigation.left {
  left: 0%;
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate .arrow-navigation.left .arrow {
  opacity: 0;
  margin: 0px 0px 0px 50%;
  background-image: url("../img/arrow-left-light.png");
  background-repeat: no-repeat;
  background-position: left;
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate .arrow-navigation.right {
  right: 0%;
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate .arrow-navigation.right .arrow {
  opacity: 0;
  margin: 0px 0px 0px -50%;
  background-image: url("../img/arrow-right-light.png");
  background-repeat: no-repeat;
  background-position: right;
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate .arrow-navigation.left.hover .arrow {
  opacity: 1;
  margin: 0px 0px 0px 20%;
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate .arrow-navigation.right.hover .arrow {
  opacity: 1;
  margin: 0px 0px 0px -20%;
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate .dot-navigation {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
  z-index: 100;
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate .dot-navigation ul {
  text-align: center;
  list-style: none;
  padding: 0px 15px;
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate .dot-navigation ul li {
  display: inline-block;
  float: none;
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate .dot-navigation .dot {
  width: 14px;
  height: 14px;
  margin: 0px 6px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  -ms-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate .dot-navigation .dot:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.6);
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate .dot-navigation .dot.active {
  background-color: #fff;
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate .dot-navigation.left, .flickerplate .dot-navigation.left ul {
  text-align: left;
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate .dot-navigation.right, .flickerplate .dot-navigation.right ul {
  text-align: right;
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate.flicker-theme-dark .arrow-navigation.left .arrow {
  background-image: url("../img/arrow-left-dark.png");
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate.flicker-theme-dark .arrow-navigation.right .arrow {
  background-image: url("../img/arrow-right-dark.png");
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate.flicker-theme-dark .dot-navigation .dot {
  background-color: rgba(0, 0, 0, 0.12);
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate.flicker-theme-dark .dot-navigation .dot:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate.flicker-theme-dark .dot-navigation .dot.active {
  background-color: #000;
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate.flicker-theme-dark ul.flicks li .flick-inner {
  color: rgba(0, 0, 0, 0.9);
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate.flicker-theme-dark ul.flicks li .flick-inner .flick-content .flick-sub-text {
  color: rgba(0, 0, 0, 0.9);
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate.flicker-theme-dark ul.flicks li .flick-inner .flick-content .flick-title span.flick-block-text, .flickerplate.flicker-theme-dark ul.flicks li .flick-inner .flick-content .flick-sub-text span.flick-block-text {
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate ul.flicks li.flick-theme-dark .flick-inner {
  color: rgba(0, 0, 0, 0.9);
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate ul.flicks li.flick-theme-dark .flick-inner .flick-content .flick-sub-text {
  color: rgba(0, 0, 0, 0.9);
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate ul.flicks li.flick-theme-dark .flick-inner .flick-content .flick-title span.flick-block-text, .flickerplate ul.flicks li.flick-theme-dark .flick-inner .flick-content .flick-sub-text span.flick-block-text {
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate.animate-transform-slide ul.flicks {
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  transform: translate3d(0%, 0px, 0px);
  -webkit-transform: translate3d(0%, 0px, 0px);
  -webkit-transition: -webkit-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  -moz-transition: -moz-transform 0.6s;
  transition: transform 0.6s;
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate.animate-transition-slide ul.flicks {
  position: relative;
  left: 0%;
  -webkit-transition: left 0.4s ease-out;
  -moz-transition: left 0.4s ease-out;
  -o-transition: left 0.4s ease-out;
  -ms-transition: left 0.4s ease-out;
  transition: left 0.4s ease-out;
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate.animate-jquery-slide ul.flicks {
  position: relative;
  left: 0%;
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate.animate-scroller-slide {
  padding-bottom: 0px;
  overflow: auto;
}

/* line 1, ../../scss/modules/_flick.scss */
.flickerplate.animate-scroller-slide ul.flicks {
  position: auto;
}

@media screen and (-webkit-min-device-pixel-ratio: 3) and (max-width: 1080px), screen and (max-width: 700px) {
  /* line 1, ../../scss/modules/_flick.scss */
  .flickerplate ul.flicks li .flick-inner .flick-content .flick-title {
    font-size: 1.667em;
  }
}
/* line 6, ../../scss/modules/_flick.scss */
.flicker-slider-main.flickerplate {
  height: auto;
}
/* line 10, ../../scss/modules/_flick.scss */
.flicker-slider-main.flickerplate .dot-navigation {
  width: 100%;
  left: auto;
  right: auto;
  bottom: 0;
  margin-bottom: 246px;
}
/* line 17, ../../scss/modules/_flick.scss */
.flicker-slider-main.flickerplate img {
  width: 100%;
}

/* line 21, ../../scss/modules/_flick.scss */
.flickerplate .arrow-navigation {
  width: 50px;
  height: 50px;
  top: 65%;
  text-align: center;
  line-height: 4;
  -webkit-webkit-transition: all 0.5s ease;
  -moz-webkit-transition: all 0.5s ease;
  -ms-webkit-transition: all 0.5s ease;
  -o-webkit-transition: all 0.5s ease;
  webkit-transition: all 0.5s ease;
}
/* line 32, ../../scss/modules/_flick.scss */
.flickerplate .arrow-navigation.left {
  margin-left: 45px;
}
/* line 36, ../../scss/modules/_flick.scss */
.flickerplate .arrow-navigation.right {
  margin-right: 45px;
}
/* line 41, ../../scss/modules/_flick.scss */
.flickerplate .arrow-navigation .arrow {
  width: 50px;
  height: 50px;
  background: #C0BBBB;
  margin-left: 0 !important;
  background-image: none !important;
}
/* line 49, ../../scss/modules/_flick.scss */
.flickerplate .arrow-navigation .arrow [class^="fa"] {
  font-size: 31px;
  color: #fff;
}

/* line 56, ../../scss/modules/_flick.scss */
.flick-content {
  max-width: none !important;
}

/* line 60, ../../scss/modules/_flick.scss */
.flick-img {
  float: right;
  height: 380px;
  overflow: hidden;
}

/* line 67, ../../scss/modules/_flick.scss */
.flickerplate ul.flicks li .flick-inner {
  display: block;
  padding: 0;
}

/* line 72, ../../scss/modules/_flick.scss */
.flickerplate ul.flicks li .flick-sub-text, .flickerplate ul.flicks li .flick-title {
  text-align: left;
}

/* line 76, ../../scss/modules/_flick.scss */
.flick-text-cont {
  position: relative;
  display: inline-block;
  height: auto;
  padding: 20px 50px 10px;
  text-align: center;
}

/* line 86, ../../scss/modules/_flick.scss */
.flicks > li {
  background-position: 100% 0% !important;
  background-size: 1299px !important;
  display: table;
  height: 400px;
  background-repeat: no-repeat;
  padding-top: 360px;
}

/* line 97, ../../scss/modules/_flick.scss */
.flicker-slider-secondary {
  clear: both;
  width: auto;
  height: auto;
  background-color: none;
}
/* line 103, ../../scss/modules/_flick.scss */
.flicker-slider-secondary .arrow-navigation {
  top: 0;
  margin-top: 100px;
}
/* line 107, ../../scss/modules/_flick.scss */
.flicker-slider-secondary .arrow-navigation.left {
  margin-left: 5px;
}
/* line 110, ../../scss/modules/_flick.scss */
.flicker-slider-secondary .arrow-navigation.right {
  margin-right: 5px;
}
/* line 113, ../../scss/modules/_flick.scss */
.flicker-slider-secondary .arrow-navigation .arrow {
  background: #2775A7;
}
/* line 118, ../../scss/modules/_flick.scss */
.flicker-slider-secondary .flicks {
  position: relative;
}
/* line 120, ../../scss/modules/_flick.scss */
.flicker-slider-secondary .flicks li {
  padding-top: 0;
}
/* line 124, ../../scss/modules/_flick.scss */
.flicker-slider-secondary .flicks-title {
  color: #938e8e;
  margin-top: 50px;
  margin-right: 0;
  text-align: center;
}
/* line 129, ../../scss/modules/_flick.scss */
.flicker-slider-secondary .flicks-title a {
  color: #938e8e;
}
/* line 133, ../../scss/modules/_flick.scss */
.flicker-slider-secondary .flicks-inner-content {
  *zoom: 1;
  padding-bottom: 50px;
}
/* line 106, ../../scss/modules/_functions.scss */
.flicker-slider-secondary .flicks-inner-content:before, .flicker-slider-secondary .flicks-inner-content:after {
  content: " ";
  display: table;
}
/* line 107, ../../scss/modules/_functions.scss */
.flicker-slider-secondary .flicks-inner-content:after {
  clear: both;
}

/* line 141, ../../scss/modules/_flick.scss */
.flicker-slider-secondary:hover .arrow {
  opacity: 1 !important;
}

/* line 149, ../../scss/modules/_flick.scss */
.flicker-slider-tertiary {
  background: none;
  height: auto;
}
/* line 153, ../../scss/modules/_flick.scss */
.flicker-slider-tertiary .flicks li {
  padding-top: 0;
}
/* line 157, ../../scss/modules/_flick.scss */
.flicker-slider-tertiary .arrow-navigation {
  top: 30%;
  bottom: 0;
}
/* line 160, ../../scss/modules/_flick.scss */
.flicker-slider-tertiary .arrow-navigation.right, .flicker-slider-tertiary .arrow-navigation.left {
  margin-bottom: 105px;
}
/* line 164, ../../scss/modules/_flick.scss */
.flicker-slider-tertiary .arrow-navigation.left {
  left: auto;
  right: auto;
  margin-left: 0;
}
/* line 169, ../../scss/modules/_flick.scss */
.flicker-slider-tertiary .arrow-navigation.right {
  margin-right: 0;
}
/* line 172, ../../scss/modules/_flick.scss */
.flicker-slider-tertiary .arrow-navigation .arrow {
  opacity: 1 !important;
  background: #368bc1;
}

@media only screen and (min-width: 40.063em) {
  /* line 183, ../../scss/modules/_flick.scss */
  .flicker-slider-main.flickerplate .dot-navigation {
    right: 0;
    left: auto;
    bottom: 0;
    width: auto;
    margin-bottom: 0;
    display: block;
  }

  /* line 193, ../../scss/modules/_flick.scss */
  .flick-text-cont {
    text-align: left;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 202, ../../scss/modules/_flick.scss */
  .flicker-slider-secondary {
    clear: none;
  }
  /* line 206, ../../scss/modules/_flick.scss */
  .flicker-slider-secondary .flicks > li {
    padding-top: 450px;
  }
  /* line 210, ../../scss/modules/_flick.scss */
  .flicker-slider-secondary .flicks-title {
    text-align: right !important;
    margin-right: 55px;
  }
  /* line 214, ../../scss/modules/_flick.scss */
  .flicker-slider-secondary .dot-navigation {
    top: 0;
    right: 0;
    width: auto;
    margin-top: 320px;
    margin-right: 18px;
  }
  /* line 221, ../../scss/modules/_flick.scss */
  .flicker-slider-secondary .arrow-navigation {
    top: 65%;
    margin-top: 100px;
  }
  /* line 225, ../../scss/modules/_flick.scss */
  .flicker-slider-secondary .arrow-navigation.left {
    margin-left: 45px;
  }
  /* line 228, ../../scss/modules/_flick.scss */
  .flicker-slider-secondary .arrow-navigation.right {
    margin-right: 45px;
  }
  /* line 231, ../../scss/modules/_flick.scss */
  .flicker-slider-secondary .arrow-navigation .arrow {
    background: #C0BBBB;
  }

  /* line 238, ../../scss/modules/_flick.scss */
  .flicker-slider-main.flickerplate {
    max-height: 383px;
    height: 383px;
  }
  /* line 241, ../../scss/modules/_flick.scss */
  .flicker-slider-main.flickerplate .dot-navigation {
    left: 390px;
    right: auto;
  }

  /* line 251, ../../scss/modules/_flick.scss */
  .flickerplate ul.flicks li {
    padding-top: 0px;
  }

  /* line 257, ../../scss/modules/_flick.scss */
  .flick-text-cont {
    padding: 36px 50px;
    margin-top: 0;
  }

  /* line 261, ../../scss/modules/_flick.scss */
  .flicks-desc {
    padding: 0;
  }

  /* line 269, ../../scss/modules/_flick.scss */
  .flicker-slider-tertiary .arrow-navigation {
    top: auto;
  }
  /* line 271, ../../scss/modules/_flick.scss */
  .flicker-slider-tertiary .arrow-navigation.right, .flicker-slider-tertiary .arrow-navigation.left {
    margin-bottom: 105px;
  }
  /* line 275, ../../scss/modules/_flick.scss */
  .flicker-slider-tertiary .arrow-navigation.left {
    left: auto;
    right: 100px;
    margin-left: 45px;
  }
  /* line 281, ../../scss/modules/_flick.scss */
  .flicker-slider-tertiary .arrow-navigation.right {
    margin-right: 45px;
  }
}
/* line 1, ../../scss/modules/_post.scss */
.post {
  *zoom: 1;
  padding: 70px 0;
  border-bottom: 1px solid #dedede;
  margin-bottom: 80px;
  text-align: center;
}
/* line 106, ../../scss/modules/_functions.scss */
.post:before, .post:after {
  content: " ";
  display: table;
}
/* line 107, ../../scss/modules/_functions.scss */
.post:after {
  clear: both;
}

/* line 8, ../../scss/modules/_post.scss */
.post-title {
  margin-bottom: 25px;
  color: #4e4e4e;
}

/* line 12, ../../scss/modules/_post.scss */
.post-secondary {
  padding: 50px 30px;
}

/* line 15, ../../scss/modules/_post.scss */
.post-spread {
  border: 0;
  margin-bottom: 20px;
}
/* line 18, ../../scss/modules/_post.scss */
.post-spread .post-title {
  color: #4e4e4e;
  margin-bottom: 20px;
}
/* line 23, ../../scss/modules/_post.scss */
.post-spread .post-img img {
  width: 150px;
}

@media only screen and (min-width: 64.063em) {
  /* line 30, ../../scss/modules/_post.scss */
  .post {
    text-align: left;
  }
}
/* line 3, ../../scss/modules/_tab.scss */
.tabs dd {
  padding: 0;
}
/* line 5, ../../scss/modules/_tab.scss */
.tabs dd a {
  font-family: "Monst-regular";
  font-size: 20px;
  display: block;
  padding: 13px;
  text-align: center;
  border-bottom: 1px solid #dedede;
  background: none;
}
/* line 13, ../../scss/modules/_tab.scss */
.tabs dd a:hover {
  background: #FAFAFA;
}
/* line 18, ../../scss/modules/_tab.scss */
.tabs dd.active a {
  background: #009245;
  border-color: #009245;
  color: #fff;
}

/* Flow UP CSS
 *
 * Use this CSS in conjuction with the option externalCSS set to true. 
 * When using the external CSS (this file) everything will be 
 * controlled through the CSS. Ie the other options for the plugin
 * will be ignored such as duration, and sranslateY. 
 *
 * By Dominik Gorecki
 * www.dominikgorecki.com
 *
 * Based on Eric Wenn's PullupScroll plugin
 * (https://github.com/ericwenn/pullupscroll)
 */
/* line 16, ../../scss/modules/_flowup.scss */
.opaque {
  opacity: 0;
}

/* line 19, ../../scss/modules/_flowup.scss */
.come-in {
  -ie-transform: translateY(250px);
  -webkit-transform: translateY(250px);
  transform: translateY(250px);
  -webkit-animation: come-in .8s ease forwards;
  animation: come-in .8s ease forwards;
  opacity: 1;
}

/* line 28, ../../scss/modules/_flowup.scss */
.come-in:nth-child(odd) {
  -webkit-animation-duration: .6s;
  animation-duration: 0.6s;
}

/* line 33, ../../scss/modules/_flowup.scss */
.already-visible {
  -ie-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-animation: none;
  animation: none;
  opacity: 1;
}

@-webkit-keyframes come-in {
  /* line 42, ../../scss/modules/_flowup.scss */
  to {
    -ie-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes come-in {
  /* line 49, ../../scss/modules/_flowup.scss */
  to {
    -ie-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* line 1, ../../scss/modules/_layout.scss */
.layout {
  *zoom: 1;
}
/* line 106, ../../scss/modules/_functions.scss */
.layout:before, .layout:after {
  content: " ";
  display: table;
}
/* line 107, ../../scss/modules/_functions.scss */
.layout:after {
  clear: both;
}
/* line 3, ../../scss/modules/_layout.scss */
.layout .layout-item {
  padding: 40px 10px;
}

/* line 7, ../../scss/modules/_layout.scss */
.layout-left {
  padding: 20px 50px 10px;
}

/* line 11, ../../scss/modules/_layout.scss */
.layout-title {
  height: 43px;
  padding-bottom: 0em;
  overflow: hidden;
}

/* line 16, ../../scss/modules/_layout.scss */
.layout-text {
  height: 78px;
  overflow: hidden;
}

/* line 21, ../../scss/modules/_layout.scss */
.layout-right {
  height: auto;
  overflow: hidden;
}

/* line 26, ../../scss/modules/_layout.scss */
.layout-full {
  width: 100%;
  padding: 30px 0 0;
  overflow: visible;
}
/* line 30, ../../scss/modules/_layout.scss */
.layout-full .layout-text-cont {
  margin-left: 0;
}
/* line 33, ../../scss/modules/_layout.scss */
.layout-full .layout-item {
  text-align: center;
}

/* line 38, ../../scss/modules/_layout.scss */
.layout-addons {
  position: static;
  z-index: 9999;
}

/* line 43, ../../scss/modules/_layout.scss */
.layout-img-wrap {
  height: auto;
  overflow: hidden;
}

/* line 49, ../../scss/modules/_layout.scss */
.layout .button {
  margin-top: 25px;
}

/* line 53, ../../scss/modules/_layout.scss */
.layout-blocks {
  padding-top: 30px;
  padding-bottom: 30px;
}
/* line 56, ../../scss/modules/_layout.scss */
.layout-blocks .layout-item {
  margin-top: 0;
  margin-bottom: 40px;
  padding: 0 35px;
  text-align: center;
}
/* line 62, ../../scss/modules/_layout.scss */
.layout-blocks .layout-img {
  margin-bottom: 15px;
}

/* line 66, ../../scss/modules/_layout.scss */
.layout-blocks-1 {
  padding-top: 69px;
}
/* line 68, ../../scss/modules/_layout.scss */
.layout-blocks-1 .layout-item {
  margin-bottom: 10px;
  text-align: center;
}
/* line 72, ../../scss/modules/_layout.scss */
.layout-blocks-1 .layout-img {
  float: none;
  display: block;
  width: 203px;
  height: 140px;
  margin: 0 auto;
}
/* line 81, ../../scss/modules/_layout.scss */
.layout-blocks-1 .layout-text {
  margin-top: 5px;
}

/* line 86, ../../scss/modules/_layout.scss */
.layout-featured {
  padding: 0;
}
/* line 89, ../../scss/modules/_layout.scss */
.layout-featured:hover .overlay {
  opacity: 0;
}
/* line 93, ../../scss/modules/_layout.scss */
.layout-featured .replacedImage {
  background-size: cover !important;
  width: 100% !important;
  background-position: center center !important;
}

/* line 101, ../../scss/modules/_layout.scss */
.layout-spread .layout-avatar {
  float: right;
}
/* line 105, ../../scss/modules/_layout.scss */
.layout-spread .layout-body {
  float: left;
}
/* line 108, ../../scss/modules/_layout.scss */
.layout-spread .layout-meta {
  font-family: 'Monst-bold';
  color: #fff;
  float: left;
}
/* line 113, ../../scss/modules/_layout.scss */
.layout-spread .layout-item {
  *zoom: 1;
}
/* line 106, ../../scss/modules/_functions.scss */
.layout-spread .layout-item:before, .layout-spread .layout-item:after {
  content: " ";
  display: table;
}
/* line 107, ../../scss/modules/_functions.scss */
.layout-spread .layout-item:after {
  clear: both;
}
/* line 115, ../../scss/modules/_layout.scss */
.layout-spread .layout-item:first-child {
  margin-bottom: 40px;
}

@media only screen and (min-width: 40.063em) {
  /* line 123, ../../scss/modules/_layout.scss */
  .layout-title {
    height: 58px;
  }

  /* line 127, ../../scss/modules/_layout.scss */
  .layout-img-wrap {
    height: 325px;
  }

  /* line 131, ../../scss/modules/_layout.scss */
  .layout-spread .layout-avatar {
    float: left;
  }
  /* line 134, ../../scss/modules/_layout.scss */
  .layout-spread .layout-meta {
    float: right;
  }

  /* line 139, ../../scss/modules/_layout.scss */
  .layout-blocks .layout-item, .layout-full .layout-item {
    text-align: left;
  }

  /* line 145, ../../scss/modules/_layout.scss */
  .layout-blocks-1 .layout-img {
    float: left;
    margin-right: 50px;
  }
}
/* line 153, ../../scss/modules/_layout.scss */
.layout-right.layout-inverse {
  float: right;
}

/* line 159, ../../scss/modules/_layout.scss */
.layout-left.layout-inverse {
  float: left;
}

@media only screen and (min-width: 64.063em) {
  /* line 165, ../../scss/modules/_layout.scss */
  .layout-text {
    margin-top: 25px;
    height: 146px;
  }

  /* line 169, ../../scss/modules/_layout.scss */
  .layout-title {
    padding: 0.5em 0;
  }

  /* line 173, ../../scss/modules/_layout.scss */
  .layout .button {
    margin-top: 15px;
  }

  /* line 178, ../../scss/modules/_layout.scss */
  .layout-blocks .layout-item {
    margin-top: 40px;
  }
  /* line 181, ../../scss/modules/_layout.scss */
  .layout-blocks .layout-text {
    height: 80px;
  }

  /* line 187, ../../scss/modules/_layout.scss */
  .layout-blocks-1 .layout-item {
    margin-top: 0;
    text-align: center;
  }
  /* line 191, ../../scss/modules/_layout.scss */
  .layout-blocks-1 .layout-img {
    float: none;
    margin: 0 auto;
  }

  /* line 196, ../../scss/modules/_layout.scss */
  .layout-right {
    height: 388px;
  }

  /* line 200, ../../scss/modules/_layout.scss */
  .layout-full .layout-text-cont {
    padding: 0 20px;
    margin-left: 35% !important;
  }

  /* line 206, ../../scss/modules/_layout.scss */
  .layout-left {
    padding: 30px 50px 40px;
  }

  /* line 211, ../../scss/modules/_layout.scss */
  .layout-left.layout-addons {
    position: absolute;
  }
}
/* line 1, ../../scss/modules/_social.scss */
.social {
  list-style: none;
}
/* line 4, ../../scss/modules/_social.scss */
.social .facebook:hover {
  background: #3c599b;
  color: #fff;
  border-color: #fff;
}
/* line 11, ../../scss/modules/_social.scss */
.social .twitter:hover {
  background: #5eaade;
  color: #fff;
  border-color: #fff;
}
/* line 18, ../../scss/modules/_social.scss */
.social .tumblr:hover {
  background: #2c4762;
  color: #fff;
  border-color: #fff;
}
/* line 24, ../../scss/modules/_social.scss */
.social [class^="fa"] {
  font-size: 22px;
}

/* line 31, ../../scss/modules/_social.scss */
.social-secondary {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 0;
}
/* line 36, ../../scss/modules/_social.scss */
.social-secondary a {
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  border: 3px solid #4e4e4e;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #4e4e4e;
}
/* line 48, ../../scss/modules/_social.scss */
.social-secondary [class^="fa"] {
  font-size: 35px;
  line-height: 1.7;
}

/* line 1, ../../scss/modules/_profile.scss */
.profile {
  *zoom: 1;
  margin-bottom: 60px;
}
/* line 106, ../../scss/modules/_functions.scss */
.profile:before, .profile:after {
  content: " ";
  display: table;
}
/* line 107, ../../scss/modules/_functions.scss */
.profile:after {
  clear: both;
}

/* line 5, ../../scss/modules/_profile.scss */
.profile-title {
  padding-bottom: 10px;
  border-bottom: 1px solid #d8d8d8;
}

/* line 10, ../../scss/modules/_profile.scss */
.profile-meta {
  margin: 18px 0 15px;
  font-family: 'Monst-regular';
  color: #333131;
}

/* line 15, ../../scss/modules/_profile.scss */
.profile-img {
  text-align: center;
}
/* line 17, ../../scss/modules/_profile.scss */
.profile-img img {
  display: inline-block;
}

/* line 21, ../../scss/modules/_profile.scss */
.profile-body {
  margin-top: 50px;
  text-align: center;
}

@media only screen and (min-width: 64.063em) {
  /* line 27, ../../scss/modules/_profile.scss */
  .profile-img {
    text-align: right;
  }

  /* line 30, ../../scss/modules/_profile.scss */
  .profile-body {
    margin-top: 0;
    text-align: left;
  }
}
/* line 1, ../../scss/modules/_widget.scss */
.widget {
  margin-bottom: 50px;
  padding: 0;
}
/* line 4, ../../scss/modules/_widget.scss */
.widget:first-child {
  margin-right: 40px;
}

/* line 9, ../../scss/modules/_widget.scss */
.widget-title {
  margin-bottom: 20px;
}

@media only screen and (min-width: 64.063em) {
  /* line 14, ../../scss/modules/_widget.scss */
  .widget {
    margin: 0;
  }
}
