.group{
	text-align: center;
}
.group-item{
	clear:both;
	
}
.group-option{
	@include clearfix;
	background: #fff7f7;
	text-align: center;
	float: none;
	line-height: 0;

}
.group-pagination{
	display: inline-block;
	margin: 0;
	
	a{
		
		border: solid #CFC9C9;
		border-width:  0 0 0 1px;
		padding: 19px 24px;
		color: #706D6D;
		font-size: 18px;
		&:hover{
			background: $primary-color;
			color: #fff;
		}


	}
	li{

		margin: 0;	
		&:last-child {
			a{
				border-width:  0 1px 0 1px;
			}
		}
		&.active{
			a{
				background: $primary-color;
				color: #fff;
			}
		}
	}
}
// responsive styles
@media #{$medium}{
	
	.group-pagination{
		float: right;
		a{
			padding: 19px 30px;
		}
	}
	
}

@media #{$medium-up}{

	.group{
		text-align: left;
	}
  

}
