.social{
	list-style: none;
	.facebook{
		&:hover{
			background: #3c599b;
			color: #fff;
			border-color: #fff;
		}
	}
	.twitter{
		&:hover{
			background: #5eaade;
			color:#fff;
			border-color: #fff;
		}
	}
	.tumblr{
		&:hover{
			background: #2c4762;
			color: #fff;
			border-color: #fff;
		}
	}
	[class^="fa"]{
		font-size: 22px;
	}


}

.social-secondary{
	
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 0;
	a{
		-webkit-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		border: 3px solid #4e4e4e;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		color: #4e4e4e;
		
	}
	[class^="fa"]{
		font-size: 35px;
		line-height: 1.7;
	}	
}